:root {
  --primary-color: #4caf50;
  --secondary-color: #607d8b;
  --success-color: #689f38;
  --info-color: #0288d1;
  --warning-color: #fbc02d;
  --danger-color: #d32f2f;
  --primary-color-light: #a6d7a8;
  --secondary-color-light: #bfcbd1;
  --success-color-light: #c8e6c9;
  --info-color-light: #b3e5fc;
  --warning-color-light: #ffecb3;
  --danger-color-light: #ffcdd2;
}

body {
  margin: 0;
}
